// .fon{
//   background: url('../shared/fon.png') no-repeat center center fixed ;
//   background-size: cover;
  
//   flex: 1 1 auto;

// }



.calendar{
  max-width: 467px;
  width: 100%;
  padding: 0 110px;
}

.content{
  max-width: 518px;
  width: 100%;
}